.forms-container {
  display: flex;
  padding: 10px;
  width: 355px;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.forms input {
  margin-left: 10px;
}

.forms textarea {
  margin-left: 10px; 
}

.forms button {
  align-self: center;
}

