.form-container {
  display: flex;
  padding: 10px;
  width: 355px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form input {
  margin-left: 10px;
}

.form textarea {
  margin-left: 10px; 
}

.form button {
  align-self: center;
}

