.search-bar {
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.search-bar-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.search-bar-form input, .search-bar-form select {
  margin-left: 10px;
}

.box-text-genre {
  display: flex;
  align-items: center;
  gap: 30px;
}


