body {
  background-attachment: fixed;
  background-color: whitesmoke;
  background-image: url('https://images.wallpapersden.com/image/download/among-us_bGhpaW2UmZqaraWkpJRnZWltrWZmamc.jpg');
  background-size: cover;
  box-sizing: border-box;
  font-size: 16px;
}

legend {
  border-radius: 4px;
  margin: 0 1%;
  font-family: monospace;
  font-size: 18px;
  padding: 0 5px;
}

label {
  margin: 2px 4px;
}

input, select, textarea {
  border-radius: 2px;
  margin: 0 4px;
}

form, .movie-card-header {
  box-shadow: 0 4px 10px #47494b;
}

form {
  background-color: #343a40;
  border: 1px solid #343a40;
  color: white;
  display: flex;
  font-size: 13px;
  font-family: monospace;
  justify-content: center;
  padding: 10px;
  margin: 20px auto 0;
}

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #343a40;
  min-width: 460px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
} */

.button-addMovie {
  background-color: #d3d3d3;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 2px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}
